


*{
    box-sizing: border-box;
    /* margin: 0; */
}

body{
    background-color: #3D5656;
}

/* ul{
   
    padding: 0px 25px;
} */
a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* p{
    margin: 16px 0;
} */

.container{

    max-width: 85%;
    margin: 0 auto;
}

.chef-hat{
    width: 80px;
    height: 80px;
}

.primary-nav{
    display: none;
}


.landing-page-container{
    background-color: #3D5656;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    /* justify-content:center; */
    /* padding: 0 30px; */
}

.header{
    padding: 10px 0;
    background-color:#3D5656;
    display: flex;
    justify-content: center;
    /* border-bottom: 2px solid black; */
  
}

.login-btn{
    padding: 12px 20px;
    background-color: transparent;
    outline: 2px solid black;
    border-radius: 5px;


}

.showcase-container{
    background-color: #3D5656;
    height: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    /* place-content: center; */
    align-content: space-evenly;
    justify-content: center;
   
  
   
}

.showcase-brandname{
    display: flex;
    align-items: center;
    gap: 20px;
}

.showcase-brandname p{
    font-size: 18px;
    letter-spacing: 6px;
    font-weight: 700;
}

.showcase-description{
    font-size: 14px;
    line-height: 20px;
}

.showcase-btn{
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 14px;
    width: max-content;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.showcase-btn:hover{
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);


}

.brand-img{
    width: 50px;
    height: 55px;
}

.landing-img{
    max-width: 100%;
    min-height: 100%;

}

.showcase-location{
    font-size: 18px;
}



.showcase-image{
    /* border: 1px solid black; */
    box-shadow: 10px 10px 5px rgb(32, 32, 32);
}

.showcase-text{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: white;

    /* gap:10px; */

    /* border: 1px solid black; */
}

.specials-section{
    background-color: #f6f9fc; 
    padding: 40px 0px;
    border: 1px solid black;
}

.specials-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    /* border: 1px solid black; */
}

.specials-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.specials-grid-container > *{
    /* border: 1px solid black; */
    background-color: rgb(216, 216, 216);
    border-radius: 8px;
    /* padding-bottom: 20px; */
}

.dish-and-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dish-and-price span{
    /* color: #; */
}

.dishes-text{
    padding: 20px 20px;
}


.dishes{
   width: 100%;
   height: 250px;
   border-radius: 8px;
}

.specials-btn{
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 16px;
    width: max-content;
    font-weight: 500;
    border-radius: 5px;


}

.dishes-btn{
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 12px;
    width: max-content;
    font-weight: 500;
    border-radius: 5px;


}

.specials-header p{
    font-size: 22px;
    font-weight: 500;

}


.testimonials-section{
    background-color: #3D5656;
    color: white;
    padding: 60px 0;
    
}

.testimonials-header{
    text-align: center;
    font-size: 40px;
    position: relative;
    /* font-weight: 600; */
    


}

/* .testimonials-header::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background-color: black;
    margin-left: auto;
  
    
} */

.testimonials-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    /* padding: 0 30px; */
}

.reviewer{
    display: flex;
    
    gap: 20px;
}

.reviewer-image{
    width: 120px;
    overflow: hidden;
    height: 120px;
   
    /* height: 90px; */
    border-radius: 50%;
    border: 1px solid black;

}

.reviewer-img{
    max-width: 100%;
    height: 100%;
    /* height: auto; */
    /* border-radius: 70%; */
    
}

.lemon-rating{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}

.lemon-rating p{
    font-size: 25px;
}


.lemon{
    width: 30px;
    height: 30px;
    margin: 0 2px;
}



.about-section{
    background-color: #f6f9fc;
    padding: 40px 0;
   





}

.about-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;


}

.image-stack {
    display: grid;
    position: relative; 
    grid-template-columns: repeat(12, 1fr);
  }
  
  .image-stack__item--bottom {
    grid-column: 6 / -2;
    grid-row: 1;
    z-index: 1;
  }
  
  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 6;
    padding-top: 55%; 
   
    
  }


  .about-img{

    max-width: 100%;
  }
  




@media only screen and (min-width: 650px) {
    .header{
        justify-content: space-between;
        align-items: center;
    }

    .primary-nav{
        display: flex;
        align-items: center; 
    }

    .flex-nav{
        display: flex;
        gap: 25px;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .showcase-container{
        grid-template-columns: 1fr 1fr;
       
    }

    .showcase-text{
        order: 1;
        /* border: 1px solid black */
    }

    

    .showcase-btn{
        border: none;
        padding: 20px 45px;
        color: white;
        background-color: black;
        font-size: 20px;
        margin-top: auto;
      
        font-weight: 600;
        /* justify-self: end; */
    }

    .specials-btn{
        border: none;
        padding: 20px 35px;
        color: white;
        background-color: black;
        font-size: 20px;
        font-weight: 600;
      

    }

    .showcase-description{
        line-height: 35px;
        font-size: 20px;
    }

    .showcase-image{
        
        order: 2;
    }

    .showcase-brandname p{
        font-size: 30px;
        letter-spacing: 10px;
        font-weight: 700;
    }

    

    .brand-img{
        width:50px;
        height: 70px;
    }

    .specials-grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .specials-header{


    }


    .specials-header p{
        font-size: 30px;
        font-weight: 500;
    
    }

    .dishes{
        height: 300px;
     }

    .dishes-btn{
        font-size: 14px;

    }

    .testimonials-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    .about-grid{
        grid-template-columns: 1fr 1fr;
    }


  }