


*{
    box-sizing: border-box;
    /* margin: 0; */
}

body{
    background-color: #3D5656;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}


.chef-hat{
    width: 80px;
    height: 80px;
}

.primary-nav{
    display: none;
}


.landing-page-container{
    background-color: #3D5656;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.header{
    padding: 10px 0;
    background-color:#3D5656;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
  
}

.showcase-container{
    background-color: #3D5656;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    place-content: center;
   
}

.showcase-brandname{
    display: flex;
    align-items: center;
    gap: 20px;
}

.showcase-brandname p{
    font-size: 18px;
    letter-spacing: 6px;
    font-weight: 700;
}

.showcase-btn{
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 14px;
    width: max-content;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.showcase-btn:hover{
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);


}

.brand-img{
    width: 50px;
    height: 55px;
}

.landing-img{
    max-width: 100%;
    min-height: 100%;

}

.showcase-location{
    font-size: 18px;
}



.showcase-image{
    /* border: 1px solid black; */
    box-shadow: 10px 10px 5px rgb(32, 32, 32);
}

.showcase-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    /* gap:10px; */

    /* border: 1px solid black; */
}

.specials-section{
    background-color: #f6f9fc; 
    padding: 60px 30px;
    border: 1px solid black;
}

.specials-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.specials-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.specials-grid-container > *{
    /* border: 1px solid black; */
    background-color: rgb(216, 216, 216);
    border-radius: 8px;
    /* padding-bottom: 20px; */
}

.dish-and-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dish-and-price span{
    /* color: #; */
}

.dishes-text{
    padding: 0 20px;
}


.dishes{
    width: 100%;
   height: 300px;
   border-radius: 8px;
}

.specials-btn{
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 16px;
    width: max-content;
    font-weight: 500;
    border-radius: 5px;


}

.dishes-btn{
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 12px;
    width: max-content;
    font-weight: 500;
    border-radius: 5px;


}

.specials-header p{
    font-size: 22px;
    font-weight: 500;

}



@media only screen and (min-width: 650px) {
    .header{
        justify-content: space-between;
        align-items: center;
    }

    .primary-nav{
        display: flex;
        align-items: center; 
    }

    .flex-nav{
        display: flex;
        gap: 25px;
        align-items: center;
    }

    .showcase-container{
        grid-template-columns: 1fr 1fr;
    }

    .showcase-text{
        order: 1;
    }

    .showcase-btn{
        border: none;
        padding: 15px 22px;
        color: white;
        background-color: black;
        font-size: 16px;
        margin-top: 30px;
    }

    .specials-btn{
        border: none;
        padding: 15px 22px;
        color: white;
        background-color: black;
        font-size: 16px;
      

    }

    .showcase-description{
        line-height: 25px;
    }

    .showcase-image{
        
        order: 2;
    }

    .showcase-brandname p{
        font-size: 25px;
        letter-spacing: 6px;
        font-weight: 700;
    }

    

    .brand-img{
        width:50px;
        height: 70px;
    }

    .specials-grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .specials-header p{
        font-size: 30px;
        font-weight: 500;
    
    }

    .dishes-btn{
        font-size: 14px;

    }


  }